<!DOCTYPE html>
<html lang="en">

<head>
  <title>Node js Save Excel Data in MySQL Database Example</title>
  <meta charset="utf-8" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="container">
    <h1>Welcome to file manipulation SDK sample view.</h1>
    <p>To get started, please select a file.</p>
    <input class="border-2 border-black p-2" type="text" name="api-key">
    <form onsubmit="" action="/uploadexcel" enctype="multipart/form-data" method="post">
      <input type="file" name="uploadexcel"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
      <button type="submit" class="btn btn-dark" value="Store File"></button>
    </form>
  </div>
  <script>

  </script>
</body>

</html>
